# === Ignorar el entorno virtual (no se sube a GitHub) ===
.venv/                           # Carpeta que contiene todas las librerías instaladas

# === Archivos temporales generados por Python ===
__pycache__/                     # Caché de los archivos Python (carpetas ocultas automáticas)
*.pyc                            # Archivos bytecode compilados (también temporales)

# === Archivos temporales de Jupyter Notebooks ===
*.ipynb_checkpoints/             # Checkpoints automáticos creados por Jupyter

# === Carpeta con PDFs generados desde la app ===
reportes/                        # Exportaciones o informes que no necesitas versionar

# Archivos temporales de Excel (abiertos por error o en uso por Excel)
~$*.xlsx

# Archivos del sistema de macOS
.DS_Store

#Archivos usuarios
data/usuarios.csv

#Datos google sheet
data/rpscoutingapp-ef6c5338c363.json